.app {
	min-height: 100vh;
	background-image: url('./assets/BG_FOR_NEVA_LAB.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
