.app {
	min-height: 100vh;
	background-image: url('./pages/FirstPage/HeroScreen/BG_FOR_NEVA_LAB.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
